*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    color: #333;

}
header{
    background-color: aqua;
    
}
section{
    background-color: rgba(196, 56, 196, 0.267);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 

}
article{
    width: 200px;
    background: #728172;
    margin: 12px 12px;
}
article:nth-child(3){
    flex: 3;
    align-items: center;
}
article:nth-child(2){
    order: -1;
}