.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding:  0.3vw;
    border-radius: 5px;
    background-color: #2874f0;
    color: white;
    cursor: pointer;

}

.my-1 {
    margin: .5vh 0vw;
    font-size: 1.5vw;
    color: black;
}

.my-2 {
    margin: 3vh 0vw;
    
}

.text-center {
    text-align: center;

}

.card-item a{
    text-decoration: none;
}
.card-item a:hover{
    text-decoration: underline;
}
.card-item img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow{
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.discount{
    color: green;
}

.sticky {
    position: fixed;
    top: 0%;
    width: 100%;
    /* z-index: 10; */
  }