body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    /* z-index: 1; */
}
/* Global utility class */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;    
    

}
.current{
    color: coral;
}
.button_1{
    color: white;
    background: coral;
    height: 36px;
    border: none;
    cursor: pointer;
}
.dark-color{
    background-color: #35424a;
    color: white;
}

input{
    outline: none;
}

/* header */
header{
    background: #35424a;
    color: #fff;
    border-bottom: coral solid 3px;

}
header h1{
    float: left;
}
header ul{
    list-style: none;
    margin-top: 25px;
    padding: 0;
    float: right;
    
}
header li{
    display: inline;
    padding: 0 25px 25px 0;
}
header a{
    color: #fff;
    text-decoration: none;
}
header a:hover{
    color: rgb(206, 145, 145);
}

/* showcase */
#showcase{
    background: url('../img/bg1.jpg') 0 no-repeat;
    width: 98.7vw;
    min-height: 300px;
    opacity: .6;
}
.showcaseHeadline{
    text-align: center;
    color: rgb(247, 243, 243);
    font-size: 1.8rem;
    margin-top: 63px;
}

/* Newsletter */
#newsletter{
    background: #35424a;
    color: #fff;

}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 25px;
}
#newsletter form input[type="email"]{
    width: 250px;
    height: 25px;
    padding: 4px;
}
.boxes{
    margin: auto;
}
.box{

    width: 33%;
    float: left;
    display: inline;
    margin: auto;
}
.box img{
    width: 89px;
    margin-top: 22px;
}

/* about page */

/* article */
#aboutUsArticle{
    width: 60%;
    float: left;

}
#article-p2{
    padding: 14px;
}

#sidebar{
    width: 30%;
    float: right;
    padding: 12px 14px;
}
/* contact */
#sidebar-contact{
    width: 30%;
    float: right;
    padding: 12px 14px;
}
.conatact-boxes{
    width: 60%;
    display: inline-block;
}
.contact-box{
    background-color: rgb(233, 226, 226);
    padding: 17px 12px;
    line-height: 1em;
    margin: 5px 12px;
}
.myForm{
    margin: 12px 12px;

}
footer{
    background: coral;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 12px;
}



@media(max-width:870px){
.showcaseHeadline{
    font-size: 1.3rem;
}
#newsletter h1{
    font-size: 1.1rem;
    margin-top: 30px;
}
#newsletter form input[type="email"]{
    width: 150px;
}
/* contact */
.conatact-boxes{
    width: 100%;
    display: block;
}

#sidebar-contact{
    float: none;
    width: 96%;
    margin: 12px 12px;
}
#sidebar-contact .myForm input{
    min-width: 60%;
}
#contact-button{
    text-align: center;
}
#contact-button button{
font-size: 1.2rem;
margin-right: 162px;
}
}


@media(max-width:618px){
#branding h1, header ul, #newsletter h1, #newsletter form{
    text-align: center;
    float: none;
    margin-bottom: 5px;
}
#aboutUsArticle {
    width: 100%;
    float: none;
}
#sidebar{
    width: 100%;
    float: none;
    display: inline-block;
}
.boxes{
    display: flex;
    flex-direction: column; 
    /* justify-content: center; */
}
.box img{
    width: 25vw;
    /* margin-left: 40px; */
    /* margin: auto; */
}
.box{
    text-align: center;
    font-size: 1.2rem;
    /* padding: 0 0; */
    width: 100%;
}
/* contact */
}
